{% extends 'web_app/base2.html' %}
{% block main_container %}
<!-- Nav tabs -->
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-tabs md-pills pills-secondary flex-column" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" style="text-align:left;" data-toggle="tab" href="#panel21" role="tab"><i class="left fa fa-lock"></i> &nbsp;Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="text-align:left;" data-toggle="tab" href="#panel22" role="tab"><i class="fa fa-user"></i> &nbsp;Register</a>
            </li>

        </ul>
    </div>
    <div class="col-md-7">
        <!-- Tab panels -->
        <div class="tab-content vertical">
            <!--Panel 1-->
            <div class="tab-pane fade in show active" id="panel21" role="tabpanel">
                <br>

<!--Form without header-->
<form action="{% url 'loginPageURL' %}" method="POST">
<div class="card">
    <div class="card-block">
{% csrf_token %}
        <!--Header-->
        <div class="text-center">
            <h3><i class="fa fa-lock"></i> Login</h3>
            <hr class="mt-2 mb-2">
        </div>

        <!--Body-->
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            {{form.username}}
            <label>UserName</label>
        </div>

        <div class="md-form">
            <i class="fa fa-key prefix"></i>
            {{form.password}}
            <label>Password</label>
        </div>

        <div class="text-center">
            <button class="btn btn-deep-purple" type="submit">Login</button>
        </div>

    </div>

    <!--Footer-->
    <div class="modal-footer">
        <div class="options font8">

            <p>Forgot <a href="#">Password?</a></p>
        </div>
    </div>

</div>
</form>
<!--/Form without header-->


            </div>
            <!--/.Panel 1-->



            <!--Panel 2-->
            <div class="tab-pane fade" id="panel22" role="tabpanel">
                <br>



                <!--Form without header-->
                <form action="{% url 'web_app:RegisterNewuUserURL' %}" method="POST">
<div class="card">
    <div class="card-block">

        <!--Header-->
        <div class="text-center">
            <h3><i class="fa fa-user-plus"></i> Register </h3>
            <hr class="mt-2 mb-2">
        </div>

        <!--Body-->
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            {{reg_form1.username}}
            <label>Username</label>
        </div>

        <div class="md-form">
            <i class="fa fa-address-card prefix"></i>
            {{reg_form1.first_name}}
            <label>First Name</label>
        </div>

        <div class="md-form">
            <i class="fa fa-address-card prefix"></i>
            {{reg_form1.last_name}}
            <label>Last Name</label>
        </div>

        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
          {{reg_form1.email}}
            <label>E-Mail</label>
        </div>

        <div class="md-form">
            <i class="fa fa-key prefix"></i>
            {{reg_form1.password1}}
            <label>Choose a safe Password</label>
            <p>
            <ul>
            <li class="text-right" style="font-size:0.8em;">Your password can't be too similar to your other personal information.</li>
<li class="text-right" style="font-size:0.8em;">Your password must contain at least 8 characters.</li>
<li class="text-right" style="font-size:0.8em;">Your password can't be a commonly used password.</li>
<li class="text-right" style="font-size:0.8em;">Your password can't be entirely numeric.</li>
</ul>
</p>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="text" id="form2" class="form-control">
            <label>Confirm Password</label>
        </div>

        <div class="text-center">
            <button class="btn btn-deep-orange">Join</button>
        </div>

    </div>
</div>
</form>
<!--/Form without header-->






            </div>
            <!--/.Panel 2-->

        </div>
    </div>
{% endblock %}
