{% extends 'web_app/base2.html' %}
{% block main_container %}
<div class="container">
  {% if form.errors %}
  <p> Some Errors Encountered </p>
  {% endif %}
  {% if user.is_authenticated %}
  <h1>Logout</h1><small>confirm logout Click on following button</small>
  <a href="{% url 'logoutPageURL' %}">logout</a>
  <a href="#" class="btn btn-primary">QUERY YOUR PROBLEM</a>
  {% else %}
  <h1>Login Page</h1>
  {% if form %}
  <form action="{% url 'loginPageURL' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}

    <input type="hidden" name="next" value="{{next}}">
    <button type="submit" class="btn btn-mdb btn-lg">login</button>
  </form>
  {% endif %}
  {% endif %}

</div>
<div class="">
  <h4>If you want to register goto <a href="{% url 'web_app:RegisterNewuUserURL' %}">Register Page</a></h4>
</div>

{% endblock %}
