{% extends 'web_app/base2.html' %}
{% load staticfiles %}
{% block main_container %}
<div class="container">
  {% if registered %}
  <div class="jumbotron">
    <h2>registration successfull</h2>
  </div>

  <hr />
  {% endif %}
  {% if errors %}
  <h2>{{msg}}</h2>
  {% endif %}
  <h1>Registration</h1>
  <form class="" method="POST">
    {% csrf_token %}
    {{form1.as_p}}
    <hr />
    {{form2.as_p}}
    <button type="submit" class="btn btn-mdb btn-lg">Submit</button>

  </form>
</div>

{% endblock %}
