<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{title|default:'Home | Elite Discussion Forum'}}</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>


    <header>

        <!--Navbar-->
        <nav class="navbar navbar-toggleable-md navbar-dark lightpurpule-gradient">
           <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
          <strong>Elite Forum</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav4">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a href="{% url 'web_app:IndexPageURL' %}" class="nav-link waves-effect waves-light">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light">Showstoppers</a>
            </li>
            <li class="nav-item dropdown btn-group">
              <a class="nav-link dropdown-toggle" id="category_list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Browse by Category</a>
              <div class="dropdown-menu dropdown" aria-labelledby="category_list">
                <h6 class="dropdown-header">Service Areas</h6>
                {% for category in category_list %}
                <a href="/queries/{{category.title|slugify}}" class="dropdown-item">{{ category.title }}</a>
                {% endfor %}
              </div>
            </li>

          </ul>
          {% block navbar_middle %}
          {% endblock %}
          <ul class="navbar-nav ml-auto nav-flex-icons">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="#" class="nav-link">Dashboard</a>

            </li>
            <li class="nav-item"><a href="{% url 'logoutPageURL' %}" class="nav-link btn btn-danger btn-sm">Logout</a></li>

            {% else %}
            <li class="nav-item">
              <a href="{% url 'loginPageURL' %}" class="nav-link">Login / Join Forum</a>
            </li>


            {% endif %}
            </ul>
        </div>
      </div>
    </nav>
	    <!--/.Navbar-->

    </header>

    <main>

        <!--Main layout-->
        <div class="container">
          {% block main_container %}
          {% endblock %}
        </div>
        <!--/.Main layout-->

    </main>

    <!--Footer-->
    <footer class="page-footer lightpurpule-gradient center-on-small-only">




        <!--Call to action-->
        <div class="call-to-action">
            <h4>Made by Elite Problem Solvers</h4>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                designing made using <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>
            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js' %}"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/tether.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

    <script>
    new WOW().init();
    </script>

</body>

</html>
