{% extends 'web_app/base2.html' %}

{% load staticfiles %}

{% block main_container %}
<div class="container">

<!--Form without header-->
<form method="POST">

<div class="card">
    <div class="card-block">

        <!--Header-->
        <div class="text-center">
            <h3> New Query</h3>
            <hr class="mt-2 mb-2">
        </div>

        <!--Body-->
        <div class="">
          {% csrf_token %}
          {{form.media}}
          {{ form.as_p }}

        </div>

    </div>

    <!--Footer-->
    <div class="modal-footer">
        <div class="options">
          <button type="submit"class="btn btn-info waves-effect">Post Your Query</button>
        </div>
    </div>

</div>

</form>

</div>

<!--/Form without header-->
{% endblock %}
