{% extends 'web_app/base2.html' %}
{% load staticfiles %}
{% load element_id_generator %}
<!-- jumbotron banner -->
{% block main_container %}<!--Query Card-->
<div class="card">

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">{{ query.title|safe}}</h4>
        <!--Text-->
        <div class="card-text">{{query.text|safe}}</div>

        {% if query.tag1 %}<p> <span class="chip">{{query.tag1|safe}}</span>
          {% if query.tag2 %} <span class="chip" >{{query.tag2|safe}}</span> {% endif %}
          {% if query.tag3 %} <span class="chip">{{query.tag3|safe}}</span> {% endif %}
          {% if query.tag4 %} <span class="chip">{{query.tag4|safe}}</span> {% endif %}
          {% if query.tag5 %} <span class="chip">{{query.tag5|safe}}</span> {% endif %}
         </p>{% endif %}




    </div>
    <!--/.Card content-->

</div>
<!--/.Query CArd-->
<br>
<hr>
<h2>Post Your Answer:</h2>
<div class="text-center">
  <form class="" action="{% url 'web_app:CreateAnswerPageURL' querypk=query.pk %}" method="post">
    {% csrf_token %}
    {{form.media}}
    {% for field in form %}
    {{field}}
    {% endfor %}
    <br/>
  <button type="submit" class="btn btn-info btn-lg waves-effect waves-light">Post My Answer</button>
  </form>
</div>

<br>
{% if query.answers %}
{% for answer in query.answers.all %}
<!-- Answer cards -->
<div class="card" style="margin-bottom:10px" id="{{ answer.pk|generate_id:'answer' }}">
<div class="container-fluid">
  <div class="row">
    <!-- coloumn for user meta details -->
    <div class="col-lg-2">
      <div class="row">
        <div class="col-12">
            john Doe
        </div>

        </div>
        <div class="row">
          <div class="col-12">
              Upvotes
          </div>

        </div>
        <div class="row">
          <div class="col-12">
              Downvotes
          </div>

        </div>
      </div>
      <!-- coloumn for user meta details end -->

      <div class="col-lg-10">
        <!--Card content-->
        <div class="card-block">
            <!--Title-->

            <!--Text-->
            <p class="card-text">{{answer.text|safe}}</p>


        </div>
        <!--/.Card content-->
      </div>
    </div>
    {% if answer.solution_discussion_threads.all %}
    <div class="row">
      <div class="col-md-10 offset-md-2">
        <!-- the discussion threads for answers if any -->
        <hr>
        <br>
        {% for discussion_thread in answer.solution_discussion_threads.all %}
        <p class="text-right" id="{{ discussion_thread.pk|generate_id:'solution_discussion_thread' }}">{{discussion_thread.text}}</p>
        <hr>
        {% endfor %}


        <!-- the discussion threadsfor answer ends -->

      </div>

    </div>
    {% endif %}

  </div>
</div>
{% endfor %}
{% else %}
No Answers Posted yet.
{% endif %}

<!-- Answer Cards End -->

<a href="#" class="btn btn-primary"> Add Answer </a>
{% endblock %}
