{% extends 'web_app/base2.html' %}
<!-- jumbotron banner -->
{% load staticfiles %}
{% block main_container %}

<!-- jumbotron banner -->

<div class="row wow fadeIn" data-wow-delay="0.2s">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2 class="h2-responsive">Forum for DRyiCE Clients</h2>
      <br>
      <form class="" action="{% url 'web_app:InitiateSearchURL' %}" method="GET" class="md-form">

        <div class="md-form input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
          {{search_bar_form.search_query}}
          <button style="margin:0;" class="btn btn-mdb btn-sm" type="submit">Go!</button>

        </div>
      </form>

      <div class="">

        <a href="{% url 'web_app:CreateQueryPageURL' %}" class="btn btn-secondary btn-lg btn-block"><i class="fa fa-question prefix"></i> Ask Your Query</a>

      </div>
    </div>
  </div>

  <hr>


  <!-- jumbotron banner end
-->


<!-- Side bar tags filter  -->
<div class="col-lg-3">


  <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
    <!--Panel-->
    <div class="card">
      <div class="card-header secondary-color white-text">
        Browse by #tags
      </div>
      <div class="card-block">
        {% for tag in tags_list %}
        <span class="chip"><a href="#"> {{tag.tagName}} </a></span>
        {% endfor %}

      </div>
    </div>
    <!--/.Panel-->
  </div>

</div>
<!-- sidebar tags filter end -->

<!--Main column-->
<div class="col-lg-6">
<h4 > {{ list_title | default:'Recent Queries' }}</h4>
  <br>
{% if query_list %}
  <!--Post-->
  {% for query in query_list %}
  <div class="post-wrapper wow fadeIn" data-wow-delay="0.3s" style="margin-bottom:15px;">
    <!--Post data-->

    <div class="card">
      <div class="card-block" style="padding-bottom:0;">
        <a href="{% url 'web_app:ShowQueryPageURL' pk=query.pk %}"><h3 style="font-size:1.5rem;" class="h3-responsive">{{query.title | safe}}</h3></a>
        <h5 class="font8">asked {% if query.service_area %} in {{query.service_area}}{% else %}Uncategorized.{% endif %} on {{query.created_date}}</h5>
        {% if query.tag1 %}<p> <span class="chip">{{query.tag1|safe}}</span>
          {% if query.tag2 %} <span class="chip" >{{query.tag2|safe}}</span> {% endif %}
          {% if query.tag3 %} <span class="chip">{{query.tag3|safe}}</span> {% endif %}
          {% if query.tag4 %} <span class="chip">{{query.tag4|safe}}</span> {% endif %}
          {% if query.tag5 %} <span class="chip">{{query.tag5|safe}}</span> {% endif %}
         </p>{% endif %}

        <br>



      </div>


      <!-- Card footer -->
      <div class="card-data">

        <!--"Read more" button-->
        <a class="link-text c-left"><h6 class="font8"><strong>1 </strong><b> answers </b> <i class="fa fa-sticky-note-o"></i></h6></a>

        <ul class="c-right">
          <li data-toggle="tooltip" data-placement="top" title="Views - Feature Under Development"><a href="#" class="font8"><i class="fa fa-eye"></i> 52</a></li>
        </ul>
      </div>
      <!-- Card footer -->


    </div>

  </div>

  {% endfor %}
  {% else %}
  <h3> Nothing to Show </h3>
  {% endif %}
  <!--/.Post-->

  <br>
  <!-- PAgination on the Page  -->
  {% if is_paginated %}

<nav>
  <ul class="pagination flex-center pg-dark  wow fadeIn">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&laquo;</span>
    <span class="sr-only">Previous</span></a></li>
    {% else %}
    <li class="page-item disabled"><span><span aria-hidden="true">&laquo;</span>
    <span class="sr-only">Previous</span></span></li>
    {% endif %}
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
  {% endif %}
  <!-- pagination end -->

</div>


<!--Sidebar-->
<div class="col-lg-3">


{% if user.is_authenticated %}
  <h4 >My Recent Questions</h4>
  {% if user.profile.own_queries %}
  <div class="widget-wrapper wow fadeIn" data-wow-delay="0.6s">

    <br>



    <div class="list-group">
      {% for own_query in user.profile.own_queries.all %}
      <a href="{% url 'web_app:ShowQueryPageURL' pk=own_query.pk %}" class="list-group-item">
          {{own_query.title|truncatechars:'25'}}...
      </a>
      {% endfor %}
      {% else %}
      No Questions Asked Yet.
      {% endif %}
    </div>

  </div>

{% endif %}
  {% if user.is_authenticated %}<h4 class="card-title">My Recent Answers</h4>
  <div class="widget-wrapper wow fadeIn" data-wow-delay="0.6s">
    {% if user.profile.answers_posted.all  %}

    <br>
    <div class="list-group">
        {% for answer_posted in user.profile.answers_posted.all %}
      <a href="{% url 'web_app:ShowQueryPageURL' pk=answer_posted.query.pk %}" class="list-group-item">
          {{answer_posted.text|striptags|truncatechars:'30'}}...
      </a>
      {% endfor %}

    </div>
    {% else %}
    No Questions / Queries Answered by you yet.
    {% endif %}
  </div>
  {% else %}
  <a href="{% url 'loginPageURL' %}"><h4>Login to see your recent activities</h4></a>
  {% endif %}

</div>
<!--/.Sidebar-->


</div>
{% endblock %}
