{% extends 'web_app/base2.html' %}
{% load element_id_generator %}
{% load staticfiles %}
<!-- jumbotron banner -->
{% block main_container %}<!--Query Card-->
<div class="card">

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h5 class="font8">asked {% if query.service_area %} in {{query.service_area}}{% else %}Uncategorized.{% endif %} on {{query.created_date}}</h5>
        <h4 class="card-title">{{ query.title|safe}}</h4>
        <!--Text-->
        <div class="card-text">{{query.text|safe}}</div>

        {% if query.tag1 %}<p> <span class="chip">{{query.tag1|safe}}</span>
          {% if query.tag2 %} <span class="chip" >{{query.tag2|safe}}</span> {% endif %}
          {% if query.tag3 %} <span class="chip">{{query.tag3|safe}}</span> {% endif %}
          {% if query.tag4 %} <span class="chip">{{query.tag4|safe}}</span> {% endif %}
          {% if query.tag5 %} <span class="chip">{{query.tag5|safe}}</span> {% endif %}
         </p>{% endif %}

        <hr>
        <br>
        {% for discussion_thread in query.query_discussion_threads.all %}
        <p class="text-right" id="{{ discussion_thread.pk|generate_id:'query_discussion_thread' }}">{{discussion_thread.text}}</p>
        <hr>
        {% endfor %}

        <form class="" action="{% url 'web_app:CreateDiscussionThreadsQueryPageURL' querypk=query.pk %}" method="POST">
            {% csrf_token %}
          {% for field in query_discussion_form %}
          {{field}}
          {% endfor %}
          <button type="submit" name="button" class="float-right btn btn-info btn-sm">reply</button>
        </form>

    </div>
    <!--/.Card content-->

</div>
<!--/.Query CArd-->
<br>
<hr>
<br>
{% if query.answers %}
{% for answer in query.answers.all %}
<!-- Answer cards -->
<div class="card" style="margin-bottom:10px" id="{{ answer.pk|generate_id:'answer' }}">
<div class="container">
  <div class="row">
    <!-- coloumn for user meta details -->
    <div class="col-lg-2">
      <div class="container">
      <div class="row">

        <div class="col" style="margin-top:10px;">
            Posted By {{answer.created_by}}
        </div>

        </div>
        <div class="row">
          <div class="col">
            <span class="fa fa-clock-o"></span>  {{answer.created_date}}
          </div>

        </div>
        <div class="row">
          <div class="col">
            <a href="{% url 'web_app:UpdateUpvoteURL' pk=query.pk answerpk=answer.pk %}"><span class="fa fa-thumbs-o-up"></span></a>  {{answer.upvotes}}
          </div>

        </div>
        <div class="row">
          <div class="col">
            <a href="{% url 'web_app:UpdateDownvoteURL' pk=query.pk answerpk=answer.pk %}"><span class="fa fa-thumbs-o-down"></span></a>  {{answer.downvotes}}
          </div>

        </div>
      </div>
      </div>
      <!-- coloumn for user meta details end -->

      <div class="col-lg-10">
        <!--Card content-->
        <div class="card-block">
            <!--Title-->

            <!--Text-->
            {{answer.text|safe}}


        </div>
        <!--/.Card content-->
      </div>
    </div>
    {% if answer.solution_discussion_threads.all %}
    <div class="row">
      <div class="col-md-10 offset-md-2">
        <!-- the discussion threads for answers if any -->
        <hr>
        <br>
        {% for discussion_thread in answer.solution_discussion_threads.all %}
        <p class="text-right" id="{{ discussion_thread.pk|generate_id:'solution_discussion_thread' }}">{{discussion_thread.text}}</p>
        <hr>
        {% endfor %}


        <!-- the discussion threadsfor answer ends -->

      </div>

    </div>
    {% endif %}
    <form class="" action="{% url 'web_app:CreateDiscussionThreadsSolutionPageURL' querypk=query.pk answerpk=answer.pk %}" method="POST">
        {% csrf_token %}
      {% for field in solution_discussion_form %}
      {{field}}
      {% endfor %}
      <button type="submit" name="button" class="float-right btn btn-info btn-sm">reply</button>
    </form>

  </div>
</div>
{% endfor %}
{% else %}
No Answers Posted yet.
{% endif %}

<!-- Answer Cards End -->

<a href="{% url 'web_app:CreateAnswerPageURL' querypk=query.pk %}" class="btn btn-primary"> Add Answer </a>
{% endblock %}
