/* YOUR CUSTOM STYLES */
.list-group-item.active {
    background-color: #33b5e5;
    border-color:#33b5e5
}

.list-group-item:not(.active) {
    color:#222;
}

.list-group-item:not(.active):hover {
    color:#666;
}
.chip {
    display: inline-block;
    padding: 0 15px;
    margin: 2px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    border-radius: 20px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

[type=radio]:checked,
[type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
    visibility: hidden
}
[type=radio]:checked+label,
[type=radio]:not(:checked)+label {
    position: relative;
    padding-left: 35px;
    height: 25px;
    -webkit-transition: .28s ease;
    transition: .28s ease
}
[type=radio]+label:after,
[type=radio]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease
}
[type=radio]:not(:checked)+label:before {
    border-radius: 50%;
    border: 2px solid #5a5a5a
}
[type=radio]:not(:checked)+label:after {
    border-radius: 50%;
    border: 2px solid #5a5a5a;
    z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}
[type=radio]:checked+label:before {
    border-radius: 50%;
    border: 2px solid transparent
}
[type=radio]:checked+label:after {
    border-radius: 50%;
    border: 2px solid #4285F4;
    background-color: #4285F4;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02)
}
[type=radio].with-gap:checked+label:before {
    border-radius: 50%;
    border: 2px solid #4285F4
}
[type=radio].with-gap:checked+label:after {
    border-radius: 50%;
    border: 2px solid #4285F4;
    background-color: #4285F4;
    z-index: 0;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5)
}
[type=radio].with-gap:disabled:checked+label:before {
    border: 2px solid rgba(0, 0, 0, .46)
}
[type=radio].with-gap:disabled:checked+label:after {
    border: none;
    background-color: rgba(0, 0, 0, .46)
}
[type=radio]:disabled:checked+label:before,
[type=radio]:disabled:not(:checked)+label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .46)
}
[type=radio]:disabled+label {
    color: rgba(0, 0, 0, .46)
}
[type=radio]:disabled:not(:checked)+label:before {
    border-color: rgba(0, 0, 0, .46)
}
[type=radio]:disabled:checked+label:after {
    background-color: rgba(0, 0, 0, .46);
    border-color: #BDBDBD
}




.md-pills li {
    padding: 10px;
}
.md-pills .nav-link {
    color: #666;
    text-align: center
}
.md-pills .nav-item .nav-link {
    border-radius: 2px
}
.md-pills .nav-item .nav-link:hover {
    background-color: rgba(158, 158, 158, .3);
    -webkit-transition: all .4s;
    transition: all .4s
}
.md-pills .nav-item .nav-link.active {
    color: #fff;
    border-radius: 2px;
    -webkit-transition: all .4s;
    transition: all .4s
}
.md-pills.pills-primary .nav-item .nav-link.active {
    background-color: #4285F4
}
.md-pills.pills-danger .nav-item .nav-link.active {
    background-color: #C00
}
.md-pills.pills-default .nav-item .nav-link.active {
    background-color: #2BBBAD
}
.md-pills.pills-secondary .nav-item .nav-link.active {
    background-color: #a6c
}
.md-pills.pills-success .nav-item .nav-link.active {
    background-color: #00C851
}
.md-pills.pills-info .nav-item .nav-link.active {
    background-color: #33b5e5
}
.md-pills.pills-warning .nav-item .nav-link.active {
    background-color: #F80
}
.md-pills.pills-ins .nav-item .nav-link.active {
    background-color: #3F729B
}
/* YOUR CUSTOM STYLES */

body{
    background:#f9f3eb;
}
.list-group-item.active {
    background-color: #33b5e5;
    border-color:#33b5e5
}

.list-group-item:not(.active) {
    color:#222;
}

.list-group-item:not(.active):hover {
    color:#666;
}



        main {
            padding-top: 7rem;
            padding-bottom: 2rem;
        }

        .widget-wrapper {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
        }
        .c-left{
                float: left;
            margin-left: 10px;
        }
        .c-right{
                float: right;
            margin-right: 10px;
        }

        .card-data ul li {
    display: inline;
    margin-right:20px;

    }
    .font8{
        font-size:.8rem !important;
    }
    .font9{
        font-size:.9rem !important;
    }
     .card-data ul {
         margin: 0;
     }
    .card-data ul li a{
        color: grey;
    }
    .card-data ul li a:hover{
        color: #dc2020;
    }
        .navbar {
            position: fixed;
            top: 0;
            z-index: 4;
            right: 0;
            left: 0;
        }
        .lightpurpule-gradient{
                background: linear-gradient(135deg,#000 0,#9b65b7 100%);
        }
        footer.page-footer {

            margin-top: 2rem;

        }

    .card .card-data {
    text-align: center;
    height: auto;
    padding: 10px;
    }
